.background {
  background-image: url('/images/UNAM.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fEfEfE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  padding: 6rem 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-login { max-width: 400px; }
.card-body { padding: 1.5rem; }
.card-register { max-width: 650px; }
